NET "clk" LOC = "V10" | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "resetIn" LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET "keypadIn[0]" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[1]" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[2]" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[3]" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[4]" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[5]" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[6]" LOC = "F17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "keypadIn[7]" LOC = "F18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET "red[0]" LOC = "A9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[1]" LOC = "B9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[2]" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[0]" LOC = "C10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[1]" LOC = "A10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[2]" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[0]" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[1]" LOC = "A11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "hsync" LOC = "B12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "vsync" LOC = "A12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "invalidOpc" LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "invalidAddr" LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "invalidPC" LOC = "N15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
